

/* common
----------------------------------------------------------------------------- */
body{
	font-size: 14px;
	font-family: 'Open Sans', arial, tahoma, sans-serif;
	background:url(../images/bg.png) repeat 0 0 fixed;
}
label, input, button, select, textarea{
	font-size: 12px;
}
a{
	 text-decoration: none;
}
ul li{
	list-style-type: none;
	overflow: hidden;
}
.main-menu{
	font-size: 14px;
}
.main-menu img{
	width: 143.4px;
  height: 40px;
  float: left;
}
.main-menu nav li{
	float: left;
	list-style-type: none;
	overflow: hidden;
	    margin-left: 14px;

}
.navs{
	float: left;
}
.main-menu li a{
    text-decoration: none;
    height: 17px;
    width: 53px;
    padding-right: 17px; 
}
.login{
	    float: right;
}



.Rectangle img{
	
	float: left;
    padding-left: 674px;
    width: 662px;
}
.page-logo{
width: 215px;
  height: 60px;
  object-fit: contain;
      margin-top: 28px;

}
.page-logo img{
	margin-top: 93px;
	margin-left: 143px;
}
.page-text1 p{
	width: 572px;
  height: 288px;
  font-family: VNFQuicksand;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.13;
  text-align: left;
  color: #00bcd4;
  padding-left: 140px;
}
.page-text2{
	 width: 487px;
  height: 101px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #673ab7;
  color: var(--bluey-purple);
      padding-left: 140px;
}
.page-text2 p{
	color: #673ab7;
	font-size: 16px;
}
.page-text3{
	width: 56px;
  height: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.2px;
  text-align: left;
  color: #673ab7;
  color: var(--bluey-purple);
  padding-left: 140px;
    padding-top: 45px;

}
.page-text3 p{
	 border: 2px solid #673ab7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 40px;
    width: 136px;
    height: 31px;
    padding-top: 7px;
  
    padding-left: 9px;
}
.page-text3 p a{
color: #673ab7;
} 
.page-text4 {
	width: 193px;
  height: 50px;
  border-radius: 100px;
  background-color: #e91e63;
  background-color: var(--lipstick);
  padding-left: 330px;
  margin-top: -15px;

}

.page-text4 p{
	 border: 1px solid #673ab7;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 40px;
    width: 197px;
    height: 31px;
    padding-top: 7px;
  background-color:#e91e63;
    padding-left: 9px;

}
.span ul li{
	float: left;
	padding-top: 100px;
	    margin-left: 60px
   
}

.text1 p{
	width: 363px;
  height: 74px;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #000000;
  color: var(--black)
}

.btn1{
	margin-top: 86px;
    width: 156px;
    height: 30px;
    border-radius: 15px;
    background-color: #00bcd4;

}
.btn1 p a{
	padding-top: 10px;
    padding-left: 10px;
    float: left;
    width: 104px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
}

#inner-2{
	background-color:  #673ab7;
}
#inner-3{
	background-color: #e91e63;
}

.lam-quen{
	 width: 363px;
  height: 51px;
  font-family: VNFQuicksand;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #00bcd4;
}
.giao-tiep{
	width: 359px;
  height: 51px;
  font-family: VNFQuicksand;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #673ab7;
}
.giao-tiep-nc{
	width: 362px;
  height: 51px;
  font-family: VNFQuicksand;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #e91e63;

}
.home-page3{
	margin-top: 1550px;
	
    margin-left: 100px;
}
.itme {
    padding-top: 134px;
    padding-left: 72px;
    width: 408px;
    /* height: 369px; */
    /* font-family: VNFQuicksand; */
    font-size: 24px;
    /* font-weight: bold; */
    /* line-height: 2.88; */
    text-align: justify;
    color: #673ab7;
}
/*.itme-img img{
	 margin-top: -356px;
    float: right;
    width: 595px;
    padding-right: 103px;
    /* height: 431px; */
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.1);
}*/
.itme p a{
	font-family: VNFQuicksand;
	text-align: justify;
}
.icon-1{
	width: 31px;
  height: 30px;
  font-family: simple-line-icons;
  font-size: 30px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #ffc107;
  color: var(--marigold);
}
#img-t1 img{
	margin-top: -371px;
    position: absolute;
    width: 326px;
    height: 234px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
    margin-left: 493px;
}
#img-t3 img{
float: right;
    width: 239px;
    height: 170px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
    position: relative;
       margin-right: -686px;
    margin-top: 115px;

}
#img-t2 img{
	margin-top: -260px;
    float: right;
    z-index: -1;
    width: 616px;
    height: 465px;
    border-radius: 30px;
    /* box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.1); */
    /* margin-left: 66px; */
    margin-right: 73px;
}
.Oval-5{
	width: 200px;
  height: 200px;
  background-color: #d8d8d8;
}


