/*

/* common

-
---------------------------------------------------------------------------- */

@font-face {
    font-family: VNFQuicksand-Bold;
    src: url(../font/vnf-quicksand-bold.ttf);
}

@font-face {
    font-family: Lato;
    src: url(../font/Lato-Regular.ttf);
}

body {
    font-size: 14px;
    font-family: 'Open Sans', arial, tahoma, sans-serif;

}

label, input, button, select, textarea {
    font-size: 12px;
}

a {
    text-decoration: none;
}

ul li {
    list-style-type: none;
    overflow: hidden;
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 1920px;
    max-height: 8648px;
}

.icon-a {
    margin-top: 53px;
    margin-left: 176px;
    float: left;
    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
}

.icon-list-1 {
    margin-top: 54px;
    margin-left: -116px;
    float: left;
    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
}

.icon-b {
    margin-top: 81px;
    margin-left: 227px;
    width: 25.2px;
    border-radius: 20px;
    height: 18.9px;
    background-color: #f44336;
}

.icon-list-b {
    margin-top: 21px;
    margin-left: -88px;
    width: 43px;
    border-radius: 20px;
    height: 18px;
    background-color: #f44336;
    position: absolute;
}

.icon-list-2 {
    margin-top: 633px;

    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;

}

.icon-rd {
    margin-left: 93px;
}

#round2 {
    border: solid 4px #b1d136;
}

#round3 {
    border: solid 4px #ffc107;
}

.icon-round {
    margin-top: -19px;
    margin-right: 15px;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 20px;
    border: solid 4px #e91e63;

}

.main-menu {
    font-size: 14px;
    padding-top: 20px;
}

.main-menu img {
    padding-left: 15px;
    float: left;
    width: 143.4px;
    height: 40px;
    margin-right: 42.6px;
}

.main-menu nav li {
    float: left;
    list-style-type: none;
    overflow: hidden;
    margin-right: 37px;
    margin-left: 9px;
}

.title-page {
    position: fixed;
}

#login-title a {
    color: #00bcd4;
}

.list-title {
    float: left;
    margin-right: 416px;
}

.main-menu li a {

    width: 63px;
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #673ab7;

}

.login {
    margin-right: 42px;
    float: right;
}

.login ul {
    position: sticky;

}

#login-title {
    color: #00bcd4;
}

.login ul li a {
    padding-left: 16px;
    /* padding-left: 16px; */
    position: sticky;
    width: 86px;
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
}

.icon-home-sport-1 {

}

.icon-a1 {
    margin-left: 472px;
    width: 25.2px;
    height: 18.9px;
    background-color: #f44336;
    margin-top: -81px;
    border-radius: 20px;
}

.icon-b1 {
    margin-top: -18px;
    /* margin-bottom: 100; */
    padding-top: -79px;
    margin-left: 500px;
    /* background-color: #00bcd4; */
    width: 75.6px;
    height: 18.9px;
    background-color: #ffc107;
    border-radius: 20px;
}

.icon-home-1 {
    margin-left: 15px;
    color: #ffffff;
    position: absolute;
    margin-top: 3px;
}

.icon-home-2 {
    margin-left: 24px;
    margin-top: 3px;
    color: #ffffff;
    position: absolute;
}

.rectangle img {
    margin-top: -259px;
    margin-right: -51px;
    float: right;
    padding-right: -17px;
    /* width: 653px; */
    /* height: 825px; */
    width: 958px;
    height: 1080px;
    object-fit: contain;
}

.page-logo {
    width: 215px;
    height: 60px;
    object-fit: contain;
    margin-top: 28px;

}

.page-logo-img {
    margin-top: 173px;
    margin-left: 268px;
    width: 215px;
    height: 60px;
    object-fit: contain;
}

.page-text-a {
    margin-top: -81px;
    margin-left: 268px;
    width: 572px;
    height: 288px;
    font-family: VNFQuicksand-Bold;
    font-size: 64px;
    font-weight: bold;
    line-height: 1.13;
    text-align: left;
    color: #00bcd4;
}

.page-text-b {
    margin-top: 94px;
    margin-left: 268px;
    width: 487px;
    height: 101px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #673ab7;
}

.page-text-b p {
    color: #673ab7;
    font-size: 16px;
}

.page-text-c {
    margin-top: 53px;
    margin-left: 268px;
    width: 136px;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;

}

.page-text-c p {
    width: 136px;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 2px #673ab7;
}

.page-text-c p a {
    margin-left: 22px;
    width: 56px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #673ab7;
    POSITION: absolute;
    margin-top: 17px;

}

.page-text-d {
    margin-top: 10px;
    width: 193px;
    height: 50px;
    border-radius: 100px;

    margin-left: 448px;
    margin-top: -63px;

}

.page-text-d p {
    border-radius: 40px;
    height: 45px;
    padding-top: 7px;
    background-color: #e91e63;
    padding-left: 15px;
}

.page-text-d p a {
    position: absolute;
    padding-left: 11px;
    color: #fff;
    margin-top: 10px;
}

.span ul li {
    float: left;
    margin-right: 109px;
    margin-left: 151px;
}

.span ul {
    padding-top: 165px;
    padding-bottom: 263px;
}

.text-a p {
    width: 363px;
    height: 74px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
}

#icon-li {
    color: #fff;
    margin-left: 10px;
    padding-top: 10px;
    position: absolute;
}

.icon-next {
    position: absolute;
    width: 15px;
    height: 14px;
    font-family: themify;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: left;
    color: #673ab7;
    margin-top: 17px;
    margin-left: 96px;
}

.button-a {
    width: 193px;
    height: 50px;
    border-radius: 100px;
    background-color: #00bcd4;
    margin-top: 107px;
    margin-left: 88px;

}

#icon-button-A {
    background-color: #673ab7;
}

#icon-btn-1 {
    margin-left: -12px;
}

#icon-left {
    margin-top: 214px;
}

.button-left {
    width: 40px;
    height: 40px;
    margin-top: 134px;
    margin-left: -262px;
    /* width: 175px; */
    /* height: 40px; */
    border-radius: 20px;
    background-color: #00bcd4;
}

.icon-btn-list {
    width: 40px;
    height: 40px;
    margin-top: 704px;
    margin-left: -132px;
    border-radius: 20px;
    background-color: #00bcd4;

}

.button-a p a {
    margin-left: 21px;
    width: 104px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
}

.next {
    margin-top: 331px;
    margin-left: 1780px;
    width: 83px;
    height: 30px;
    border-radius: 100px;
    background-color: #e91e63;
    /* background-color: var(--lipstick); */
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
}

.next p {
    margin-left: 13px;
    color: #fff;
    position: absolute;
    margin-top: 7px;
}

.home-top-1 {
    float: left;
    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
    position: absolute;
}

.icon-img-home {
    float: right;
    margin-top: 695px;
}

#icon-home-back-1 {
    border: solid 4px #b1d136;
    margin-left: -11px;
}

.back-icon {
    position: absolute;
    padding-left: 117px;
}

.icon-home-back {
    margin-left: 27px;
    margin-top: -16px;
    float: left;
    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
    position: absolute;
}

#icon-home-back-2 {
    border: solid 4px #ffc107;
    margin-left: -13px;
}

.icon-back {
    position: absolute;
    width: 15px;
    height: 16px;
    font-family: themify;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
    margin-left: 59px;
    margin-top: 7px;
}

#inner-b {
    background-color: #673ab7;
}

#inner-c {
    background-color: #e91e63;
}

.contact-p {
    margin-bottom: 22px;
    width: 363px;
    height: 51px;
    font-family: VNFQuicksand-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #00bcd4;
}

.contact-l {
    margin-bottom: 22px;
    width: 359px;
    height: 51px;
    font-family: VNFQuicksand-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #673ab7;
}

.contact-new {
    margin-bottom: 22px;
    width: 362px;
    height: 51px;
    font-family: VNFQuicksand-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #e91e63;
}

.prev p {
    margin-top: 8px;
    width: 37px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #00bcd4;
    /* position: absolute; */
    margin-left: 33px;
    position: absolute;
}

.icon-prev {
    width: 15px;
    height: 16px;
    font-family: themify;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #00bcd4;
    position: absolute;
    margin-top: 8px;
    margin-left: 10px;
}

.prev {
    float: left;
    width: 83px;
    height: 30px;
    border-radius: 100px;
    border: solid 2px #00bcd4;
    position: absolute;
    margin-left: 1045px;
    /* margin-right: 848px; */
    margin-top: 333px;
}

.title-lisst {
    float: left;
    margin-left: -591px;

}

.title-lisst p a {
    margin-left: 10px;
    font-family: VNFQuicksand-Bold;
    text-align: justify;
    margin-left: 11px;
    width: 408px;
    height: 369px;
    font-size: 24px;
    font-weight: bold;
    line-height: 2;
    text-align: justify;
    color: #673ab7;
}

.icon-1 {
    width: 31px;
    height: 30px;
    font-family: simple-line-icons;
    font-size: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    color: #ffc107;

}

#img-t1 img {
    margin-top: -371px;
    position: absolute;
    width: 287px;
    height: 188px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
    margin-left: 430px;
}

#img-t3 img {
    float: right;
    width: 219px;
    height: 146px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    /* margin-right: -623px;*/
    margin-top: 27px;

}

#img-t2 img {
    margin-top: -260px;
    float: right;
    z-index: -1;
    width: 526px;
    height: 376px;
    border-radius: 30px;
    /* box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.1); */
    /* margin-left: 66px; */
    /*margin-right: 154px;*/
}

#icon-li-1 {
    margin-top: 11px;
    position: absolute;
    margin-left: 10px;
    width: 15px;
    height: 14px;
    font-family: themify;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-align: justify;
    color: #ffffff;
}

.icon-play {
    position: absolute;
    /* padding-top: -33px;*/
    /* margin-bottom: -11px; */
    margin-top: -318px;
    /* margin-right: -16px; */
    /* float: initial; */
    margin-left: 299px;
    width: 175px;
    height: 105px;
    border-radius: 100px;
    background-color: #673ab7;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
}

#icon-home-play {
    position: absolute;
    width: 35px;
    height: 34px;
    color: #ffffff;
    font-size: 55px;
    margin-left: 60px;
    margin-top: 22px;
}

.oval-5 {
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    --border-radius: 25px;
    border-radius: 25px;
}

.page-icon-1 {
    width: 76px;
    margin-left: 68px;
    height: 14px;
    border-radius: 20px;
    background-color: #00bcd4;
}

.page-icon-2 {
    width: 25.2px;
    height: 18.9px;
    background-color: #f44336;

}

#icon-dk {
    position: absolute;
    color: #fff;
    margin-left: -25px;
}

#icon-h-1 {
    position: absolute;
    color: #fff;
    margin-left: 130px;
    margin-top: 10px;
}

#home-icon-1 {

    position: absolute;
    color: #fff;
    margin-left: 9px;

}

#home-icon-2 {
    color: #fff;
    margin-left: 18px;
}

#icon-h-2 {
    position: absolute;
    color: #fff;
    /* margin-left: -24px; */
    margin-top: 10px;
    margin-left: 139px;
}

#icon-dk1 {
    color: #fff;
    margin-left: 18px;
}

.inner-a {
    padding-top: 13px;
}

#inner-a {
    padding-top: 16px;
}

#inner-a a {
    width: 104px;
    height: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;
    margin-left: 21px;
}

.now {
    font-size: 20px;
    text-align: left;
    color: #ffc107;
    margin-left: -43px;
}

.now a {
    margin-left: 22px;
    font-family: VNFQuicksand-Bold;
}

.icon-play-h {
    margin-top: -312px;
    width: 175px;
    height: 105px;
    border-radius: 100px;
    background-color: #673ab7;
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    margin-left: 289px;
}

.home-page-d {
    margin-bottom: 68px;
    float: left;
    margin-top: 274px;
    margin-left: 175px;
}

.home-text-1 {
    margin-top: 71px;
    margin-left: 50px;
    width: 105px;
    height: 24px;
    font-family: VNFQuicksand-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: justify;
    color: #000000;

}

.home-text-2 {
    margin-top: 71px;
    width: 172px;
    height: 24px;
    font-family: VNFQuicksand-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: justify;
    color: #000000;
    margin-left: 44px;
}

.home-text-3 {
    margin-top: 70px;
    width: 196px;
    height: 24px;
    font-family: VNFQuicksand-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: justify;
    color: #000000;

}

.home-text-4 {
    margin-top: 70px;
    width: 273px;
    height: 24px;
    font-family: VNFQuicksand-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: justify;
    color: #000000;
    margin-left: -71px;
}

.home-page-c {
    margin-top: 529px;
}

.home-page-d ul img {
    width: 158px;
    /*margin-right: 78px;*/

}

.home-page-d ul li {
    /* float: right;
    margin-left: 20px;*/
}

.home-page-d ul li p {
    margin-left: 27px;
    width: 160px;
    height: 20px;
    font-family: VNFQuicksand-Bold;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: justify;
    color: #000000;

}

.home-list {
    float: right;
    margin-right: 142px;

}

.home-page-e {

}

.teacher {
    float: right;
    margin-top: 294px;
    margin-right: 190px;

}

.teacher-img {
    float: left;

    /*margin-right: 100px;*/
}

.teacher-col {
    margin-bottom: 40px;
    height: 65px;
    font-family: VNFQuicksand-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
    color: #00bcd4;
}

.name {
    color: #673ab7;
    font-family: VNFQuicksand-Bold;
}

.teacher p {
    float: right;
    width: 580px;
    height: 399px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;

}

.next-top {
    margin-top: -369px;
    margin-left: 644px;
    width: 83px;
    height: 30px;
    border-radius: 100px;
    background-color: #e91e63;
    /* background-color: var(--lipstick); */
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
}

.next-top p {
    margin-top: 2px;
    margin-left: 10PX;
    position: absolute;
    color: #fff;
}

.commnet {
    /* padding-top: 180px;*/
    float: left;
    padding-top: 69px;

}

.icon-cmt-a {
    margin-top: 63px;
    margin-left: -60px;
    float: left;
    width: 76px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
}

.icon-cmt-b {
    margin-top: 37px;
    margin-left: -26px;
    width: 38px;
    border-radius: 20px;
    height: 19px;
    background-color: #f44336;
}

.icon-cmt-s {
    margin-top: 37px;
    margin-left: -26px;
    width: 36px;
    height: 19px;
    border-radius: 20px;
    background-color: #ffc107;
}

.icon-cmt-c {
    margin-top: 37px;
    margin-left: -26px;
    width: 38px;
    border-radius: 20px;
    height: 19px;
    background-color: #b1d136;
}

.icon-cmt-d {
    margin-top: 37px;
    margin-left: -26px;
    width: 38px;
    border-radius: 20px;
    height: 19px;
    background-color: #673ab7;
}

.list-comment {

    padding-top: 69px;
    width: 100%;
    height: 154%;
    background-color: #f9f9f9;

}

.comment-A {

    margin-left: 220px;
    float: left;

    width: 741px;
    height: 330px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 30px 30px 50px 0 rgba(0, 0, 0, 0.2);

}

.comment-B {
    margin-left: 207px;
    float: left;
    width: 577px;
    height: 217px;
    margin-top: 179px;
    border-radius: 30px;
    background-color: #ffffff;
}

.comment-C {
    margin-right: 227px;
    width: 528px;
    height: 215px;
    margin-top: 126px;
    float: right;
    border-radius: 29px;
    background-color: #ffffff;
}

.comment-D {
    margin-top: 113px;
    width: 585px;
    height: 252px;
    border-radius: 30px;
    background-color: #ffffff;
    margin-right: 205px;
    float: right;
}

.comment-A p {
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 40px;
    margin-top: -14px;
}

.comment-C p {
    margin: -28px 40px 0px 40px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.number-C {
    padding: 56px 0px 0px 217px;
}

.name-comment-C {
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 194px;
    position: absolute;
}

.comment-B p {
    margin-top: -25px;
    margin-left: 37px;
    margin-right: 30px;
    /* margin: 20px; */
    /* margin-right: 20px; */
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
}

.name-comment-S {
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 282px;
}

.number-S {
    padding-left: 281px;

    padding-top: 10px;
}

.comment-D p {
    margin-top: -26px;
    margin-left: 38px;
    margin-right: 20px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.name-comment-A {
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 360px;
    position: absolute;
    margin-top: 21px;
}

.number-D {
    padding: 67px 0px 0px 233px;
}

.name-comment-D {
    position: absolute;
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 236px;
    margin-top: 27px;
}

.name-comment-B {
    width: 661px;
    height: 192px;
    font-family: Lato;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #000000;
    margin-left: 426px;

}

.img-comment-A {
    width: 75px;
    height: 75px;
    float: right;
    margin-top: 2px;
}

.img-comment-B {
    width: 75px;
    height: 75px;
    float: right;
    margin-top: 2px;
}

.img-comment-C {
    width: 75px;
    height: 75px;
    float: right;
    margin-top: 2px;
}

.img-comment-D {
    width: 75px;
    height: 75px;
    float: right;
}

.maps {
    float: right;
}

.form-contact {
    width: 450px;
    height: 50px;
    border-radius: 100px;
    background-color: #ffffff;
    border: solid 2px #673ab7;
    border: solid 1px #03A9F4;
    margin-bottom: 18px;
    padding-left: 37px;
}

.form-textarea {
    width: 449px;

    height: 128px;
    border-radius: 25px;
    background-color: #ffffff;
    border: solid 1px #00bcd4;

}

.contact-title {

    margin-left: 48px;
    font-family: VNFQuicksand-Bold;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #00bcd4;

}

.contact-btn {
    margin-left: 219px;
    margin-top: 55px;
    color: aliceblue;
    width: 160px;
    height: 50px;
    border-radius: 100px;
    background-color: #00bcd4;
}

.contact-form {
    margin-left: 256px;
    float: left;
}

.contact-fr {
    padding-left: 8px;
}

.icon-sub {
    margin-left: 292px;
    width: 160px;
    height: 50px;
    border-radius: 100px;
    background-color: #00bcd4;
    margin-top: 29px;
}

#sub-a a {
    color: #fff;
    margin: 16px;
    /* margin-top: 10px; */
    position: absolute;
}

#sub-1 {
    position: absolute;
    color: #fff;
    margin-left: 112px;
    margin-top: 18px;
}

#sub-2 {
    color: #fff;
    margin-left: 121px;
    margin-top: 18px;
    position: absolute;
}

.sub-a {

}

.number {
    padding: 48px 0px 0px 378px;
}

.icon-contact-a {
    margin-left: 6px;
    margin-top: 60px;
    margin-right: 40px;
    float: right;
    width: 22px;
    height: 19px;
    border-radius: 20px;
    background-color: #F44336;
}

.icon-contact-b {

    margin-top: 61px;
    float: right;
    width: 74px;
    height: 19px;
    border-radius: 20px;
    background-color: #00bcd4;
}

.footer {

    background-color: #00bcd4;

    float: left;
    width: 100%;
    padding-bottom: 83px;
}

.row {
    /* padding-top: 130px;*/
}

.span {
    float: right;
    padding-bottom: 163px;
}

.footer-tel {
    float: left;
}

.footer-tel h4 {
    color: #ffffff;
    margin-left: 71px;
}

.nav li a {
    color: #ffffff;
    margin-left: 32px;
}

.img-comment-ft {
    width: 75px;
    height: 75px;
    /* float: right; */
    margin-top: -5px;
    margin-right: -61px;
}

.img-comment {
    padding-top: 175px;
    text-align: center;
    width: 280px;
    height: 75px;
    /* float: right; */
    /* margin-top: -53px; */
    padding-left: 860px;

    margin-bottom: 137px;
}

.nav li {
    margin-bottom: 23px;
}

.footer-tel-icon {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffc107;

}

.login-icon {
    position: absolute;
    margin-top: -12px;
    width: 125px;
    height: 40px;
    border-radius: 100px;
    background-color: #00bcd4;
}

.login-icon a {
    color: #ffffff;
}

#icon-sreach {
    margin-left: 28px;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: #673ab7;
}

.face-fra {
    float: right;
    margin-right: 173px;
    padding-top: 15px;
}

.teacher-img img {

}

.icon-form {
    position: absolute;
    /* left: 199px; */
    margin-top: 10px;
    margin-left: 10px;
    width: 15px;
    height: 16px;
    /* font-family: simple-line-icons; */
    font-size: 16px;
    letter-spacing: 0.3px;
    text-align: justify;
    color: #2196F3;
}

.img-home {
    padding-top: 196px;
    float: right;
    padding-right: 245px;

}

.img-home-a img {
    margin-top: -90px;
    position: absolute;
    margin-left: -112px;
    width: 297px;
    height: 188px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
}

.img-home-b img {

    width: 775px;
    height: 564px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.1);
}

.img-home-c img {
    margin-top: -74px;
    margin-left: 650px;
    /* margin-right: 51px; */
    position: absolute;
    /* float: right; */
    width: 247px;
    height: 179px;
    border-radius: 30px;
    box-shadow: 30px 30px 40px 0 rgba(0, 0, 0, 0.2);
}

.button-home {

    margin-top: 147px;
    /* padding-top: 148px; */
    float: right;
    margin-right: -209px;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffc107;
    /* background-color: var(--marigold); */
}

.button-list {
    float: left;
    margin-top: 147px;
    /* padding-top: 148px; */
    float: right;
    margin-right: 37px;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background-color: #ffc107;
}

#inner-list {
    margin-top: 400px;
}

#icon-support {
    position: absolute;
    color: #FFE;
    margin: 10px;
}

.icon-support-1 {
    color: #fff;
    position: absolute;
    margin-left: 84px;
    margin-top: 12px;
}

.button-list a {
    color: #fff;
    margin-top: 12px;
    position: absolute;
    margin-left: 10px;
}

.button-list p a {
    color: #ffffff;
    margin-left: 16px;
}

.button-home p a {
    margin-left: 20px;
    width: 56px;
    height: 17px;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2px;
    text-align: left;
    color: #ffffff;

}

.maps-footer {
    width: 960px;
    height: 1080px;
}

.footer-list {
    padding-left: 177px;
}